<%= simple_form_for list, url: lists_path, data: { turbo_frame: "_top" }, html: { multipart: true } do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <div class="d-grid gap-2">
    <%= f.submit 'Add', class: 'btn btn-success mt-3' %>
  </div>
<% end %>
