<%= link_to list_path(list), class: "text-decoration-none" do %>
  <div class="card-category"
       style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
         url(<%= list.photo.attached? ?
                 cl_image_path(list.photo.key) :
                 image_path('https://images.unsplash.com/photo-1543536448-d209d2d13a1c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') %>)">
    <h2><%= list.name %></h2>
  </div>
<% end %>
