<div class="banner">
  <div class="container mb-3">
    <h1>My Movies</h1>
    <p>save, list, share, your movies, one location</p>
    <div class="banner-button">
      <%= link_to "Create a new list", lists_new_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="cards my-3">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: "text-decoration-none" do %>
        <div class="card-category">
          <h2><%= list.name %></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
